.item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 17px 0;
  border-bottom: 1px solid #eaeaea;
}

.checkbox {
  margin-right: 15px;
}

.item button {
  font-size: 13px;
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 6vh;
  width: 10%;
  margin: -10px 0 0 10px;
}

.textInput {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 1px solid #dfdfdf;
  margin-top: 0.6rem;
  border-radius: calc(0.5 * 100px);
  background-color: #caf0f8;
}
